<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hopper</h1>
    <a href="home"><img src="/img/hopper.jpg" alt="Se Rompio :S"></a>

    <a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">Fuente Wikipedia</a>

    <ul type="none">
        <li><a href="/home">home</a></li>
        <li><a href="/babbage">babbage</a></li>
        <li><a href="/berners-lee">bermers-lee</a></li>
        <li><a href="/clarke">clarke</a></li>
        <li><a href="/hamilton">hamilton</a></li>
        <li><a href="/lovelace">lovelace</a></li>
        <li><a href="/turing">turing</a></li>
        <li><a href="/hopper">hopper</a></li>

    </ul>
</body>
</html>