<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1 align="center">Mi primer web</h1>   
<h2>Heroes</h2> 
    
    <ul type="none">
        <li><a href="/home">home</a></li>
        <li><a href="/babbage">babbage</a></li>
        <li><a href="/berners-lee">bermers-lee</a></li>
        <li><a href="/clarke">clarke</a></li>
        <li><a href="/hamilton">hamilton</a></li>
        <li><a href="/lovelace">lovelace</a></li>
        <li><a href="/turing">turing</a></li>
        <li><a href="/hopper">hopper</a></li>
        
    </ul>

    <div>
        <a href="/babbage"> <img src="/img/babbage.jpg" alt="GG"></a>
        <a href="/berners-lee"> <img src="/img/berners-lee.jpg" alt="GG"></a>
        <a href="/clarke"> <img src="/img/clarke.jpg" alt="GG"></a>
        <a href="/hamilton"> <img src="/img/hamilton.jpg" alt="GG"></a>
        <a href="/hopper"> <img src="/img/hopper.jpg" alt="GG"></a>
        <a href="/lovelace"> <img src="/img/lovelace.jpg" alt="GG"></a>
        <a href="/turing"> <img src="/img/turing.webp" alt="GG"></a>
        
    </div>

    <a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">Fuente Wikipedia</a>

</body>
</html>