<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="titulo">
        <h1>lovelace</h1>
    </div>

    <div id="img"><a href="home"><img src="/img/lovelace.jpg" alt="Se Rompio :S"></a></div>

    <div id="fuente"><a href="https://es.wikipedia.org/wiki/Charles_Babbage" target="_blank">Fuente Wikipedia</a></div>

    <div id="menu">
        <ul type="none">
            <li><a href="/home">home</a></li>
            <li><a href="/babbage">babbage</a></li>
            <li><a href="/berners-lee">bermers-lee</a></li>
            <li><a href="/clarke">clarke</a></li>
            <li><a href="/hamilton">hamilton</a></li>
            <li><a href="/lovelace">lovelace</a></li>
            <li><a href="/turing">turing</a></li>
            <li><a href="/hopper">hopper</a></li>

        </ul>
    </div>
</body>

</html>